@font-face {
    font-family: 'Circular', sans-serif;
    src: url(../font/CircularStd-Bold.otf)
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Circular', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header nav li a {
    color: #fff;
}

.header nav li a:hover {
    color: #1ed760;
}

h1 {
    text-align: center;
}

img {
    max-width: 100%;
}

.header {
    background: #000;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    font-family: 'Circular', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-height: 54px;
}

.main-content {
    margin: 0 auto;
    padding: 0 15px;
    height: 80px;
    max-width: 970px;
    
}

.menu-content {
    display: flex;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    max-width: 1170px;
}

.logo {
    width: 129px;
    margin-top: 20px;
    color: #fff;
}

#btn-mobile {
    display: none;
}

header nav {
    padding-left: 20px;
}

header nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

header ul a {
    display: inline-block;
    padding: 28px 17px;
    font-weight: 700;
}

header ul .flex-list {
    background: currentColor;
    margin: auto 17px;
    display: inline-flex;
    height: 16px;
    width: 1px;
    color: #fff;
}

header #color-opacity a {
	color: #d9dadc;
}

header #color-opacity-2 a {
	color: #d9dadc;
}

header #color-opacity a:hover {
	color: #1ed760;
}

header #color-opacity-2 a:hover {
	color: #1ed760;
}

header ul li:last-child > a {
    padding-right: 0;
}

main {
    background: url(../img/bg-img.svg);
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: 46% 6%;
    height: 100vh;
    background-color: rgb(41, 65, 171);
    min-height: 846px;
    text-align: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

main .inicio h1 {
    width: 800px;
    font-size: 96px;
    font-weight: 900;
    line-height: 96px;
    padding-bottom: 40px;
    color: #1ED760;
    letter-spacing: -0.04em !important;
}

main .inicio p {
    width: 800px;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 40px;
    color: #1ED760;
}

main .inicio button {
    background-color: #1ED760;
    color: #2941ab;
    font-size: inherit;
    border-radius: 500px;
    padding: 14px 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 20px;
    font-weight: 700;
    border: 0;
}

main .inicio button:hover {
    background-color: #2DE26D;
    transform: scale(1.04);
}

footer {
    padding: 50px 0 20px;
    background: #000;
}

footer .footer-content {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    flex-wrap: wrap;

}

footer .footer-content .content-mg {
    display: flex;
    webkit-flex-direction: row;
    flex-direction: row;
    
}

.footer-content .content-mg .footer-pd {
    padding: 0 15px;
}

.footer-content .content-mg .footer-icons {
    margin: 0 15px 0 auto;
}

footer .content-mg .footer-icons ul {
    display: flex;
    margin: 20px 0 0;
    padding: 0;
}


footer .content-mg .footer-icons ul li {
    margin-right: 15px;
}

footer .footer-content .content-mg .footer-icons li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #222326;
}

.content-mg .footer-icons li a img {
    display: block;
    width: 24px;
    height: 24px;
}

.sobre-info {
    width: 100%;
    display: flex;
}

.spotify-content {
    margin: 0 15px 0 auto;
    padding: 1em 0;
    font-size: 12px;
    color: #919496;
}

.usa {
    margin: 0 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.usa a {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 12px;
    color: #919496;
}

.usa svg {
    margin: 0 8px 0 0;
}